<span style="display:block;text-align:center;margin-right:105px"><img src="../../media/logos/logo-vertical.png" width="200"/></span>

# Section 3: Python Crash Course 

---

This notebook will go through the following basic topics in order:

* [Variables](#Variables)
    * Assignment
    * Values
    * Use in Expressions
    * Additive Assignment
* [Data Types](#Data-Types)
    * Booleans
    * Numbers
        * Integers
        * Floats
        * Exponentiation
        * Modulo Arithmetic
        * Order of Operations
    * Strings
        * Single and Double Quotes
        * Nested
        * String Concatination
    * Lists
        * Element Types
        * Appending Elements
        * Sublists
        * Element Access
        * List Sub-selection
        * Assigning a New Value to an Element
    * Sets
        * Element Duplication
    * Tuples
        * Element Value Reassignment
    * Dictionaries
        * Keys and Values
        * Accessing Keys
    * Maps, Filters, and Comprehensions
        * Maps
        * Filters
        * Comprehensions
        * Comprehensions Simplified
* [Control Structures](#Control-Structures)
    * If Statements
    * If, Elif, Else
    * For Loops
    * While Loops
* [Functions](#Functions)
    * Definitions
    * Calling a Function
    * Functions as an Argument
    * Anonymous Functions
    * Function Return Value Assignment
* [Useful Built-ins](#Useful-Built-ins)
* [Modules and Packages](#Modules-and-Packages)
    * Imports
    * Partial Imports
* [Standard Libraries](#Standard-Libraries)
* [Third Party Packages](#Third-Party-Packages)

---

## Variables

In [1]:
# Variable assignment
a = 3
b = 5
a, b

(3, 5)

In [ ]:
# Multiple assignments in a single statement
a, b = 3, 5
a, b

In [ ]:
# Assigning the same value to multiple variables in one statement
a = b = 3
a, b

In [ ]:
# Variables as values
a = 3
a = b
a, b

In [ ]:
# Variables in expressions
a = 3
b = 5
c = a * b
c

In [ ]:
# Additive assignment
a = 3
b = 5
# Equivalent to a = a + b
a += b
a

## Data types

### Booleans

In [ ]:
# True and False values are denoted by their respective keywords
a = True
a

In [ ]:
b = False
b

### Numbers

In [ ]:
# Integers
a = 3
a

In [ ]:
# Floats
a = 3.5
a

In [ ]:
# Float from integers
a = 3
b = 5
a / b

In [ ]:
# Exponentiation
a = 3
b = 5
a ** b

In [ ]:
# Modulo arithmetic
a = 3
b = 5
a % b

In [ ]:
# Modulo arithmetic
a = 5
b = 5
# If the result is 0, a is divisible by b, with no remainder
a % b

In [1]:
# Order of operations
a = 3
b = 5
(2 + a) * (a + b)

40

### Strings

In [ ]:
# Single quotes to denote strings
'This is a string!'

In [ ]:
# Double quotes to denote strings
"This is another string!"

In [ ]:
# Double quotes to denote strings allow you to retain single quotes (apostrophes)
"... and here's another string!"

In [ ]:
# Single quotes to denote strings allow you to retain double quotes
'This is a "special" string!'

In [2]:
# Character escaping in a string
"This is a string that is denoted with \"double quotes\" while also containing double quotes."

'This is a string that is denoted with "double quotes" while also containing double quotes.'

In [3]:
# String concatination
"This is a string" + " and so is this."

'This is a string and so is this.'

### Lists

In [ ]:
# Lists
[1, 2, 3]

In [ ]:
# Lists with elements of differing types
a = 3
[1, 2, a, 4, "five"]

In [ ]:
# Appending to a list
a = 3
b = 5
c = [1, 2]
c.append(a)
c.append(4)
c.append(b)
c

In [ ]:
# Lists can contain other lists
[1, 2, [3, 4, 5]]

In [ ]:
# Accessing elments of a list; elements are 0-indexed
a = 3
b = [1, 2, 3, 4, 5]
b[a]

In [ ]:
# Accessing elements of a sublist
a = [1, 2, [3, 4, 5]]
a[2][2]

In [ ]:
# Slicing a list
a = [1, 2, 3, 4, 5]
# [start:end]
a[:3]

In [ ]:
a = [1, 2, 3, 4, 5]
a[2:]

In [ ]:
# Assigning new values to an exiting element
a = [1, 2, 5, 4, 5]
a[2] = 3
a

### Sets

In [4]:
# Sets are like lists, but they are unordered, and cannot contain duplicates
a = {1, 2, 3}
a

{1, 2, 3}

In [5]:
a = {1, 2, 3, 4, 4, 5}
a

{1, 2, 3, 4, 5}

In [6]:
# Creating a set from a list
set([1, 2, 3, 4, 4, 5])

{1, 2, 3, 4, 5}

In [7]:
{1, 2, 3} == {3, 2, 1}

True

In [8]:
[1, 2, 3] == [3, 2, 1]

False

### Tuples

In [9]:
# Tuples are immutable lists
a = (1, 2, 3, 4, 5)
a[4] = 6

TypeError: 'tuple' object does not support item assignment

### Dictionaries

In [ ]:
# Dictionaries
c = {
    'a': 3, # Key: "a", Value: 3
    'b': 5, # Key: "b", Value: 5
}
c

In [ ]:
c = {
    'a': 3,
    'b': 5,
}
c['a']

In [12]:
test_dictionary = {
    
    'cities': ['atlanta','memphis','dallas'],
    'visits': [0,3,5,7],
}

In [13]:
test_dictionary

{'cities': ['atlanta', 'memphis', 'dallas'], 'visits': [0, 3, 5, 7]}

## Control Structures

In [ ]:
# If
a = 3
b = 5

if a > b:
    print("a is greater than b")
    
if b > a:
    print("b is greater than a")

In [ ]:
# If, Elif, Else
a = 3
b = 5

if a > b:
    print("a is greater than b")
elif b > a:
    print("b is greater than a")
else:
    print("a is equal to b")

In [ ]:
# Boolean conditionals
a = True
b = False

if a:
    print("a is true")
    
if b:
    print("b is true")
    
if not a:
    print("a is not true")
    
if not b:
    print("b is not true")

In [14]:
# For-loops
for x in range(0, 10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [15]:
# While-loops
a = 0
while a < 5:
    print(a)
    a += 1

0
1
2
3
4

## Functions

In [ ]:
# Function definition
def myFunction(arg1, arg2):
    return arg1, arg2

In [16]:
# Calling (executing) a function
def myFunction(arg1, arg2):
    return arg1, arg2

a = 3
b = 5

myFunction(a, b)

(3, 5)

In [17]:
# Functions as an argument
def add(a, b):
    return a + b

def printMessage(arg1):
    print("The result is", arg1)
    
printMessage(add(3, 5))

The result is 8

In [18]:
variable = add
variable(1, 1)

2

In [ ]:
# Anonymous functions (lambdas)
a = lambda a, b: a + b
a(3, 5)

In [ ]:
# Assigning function return values
def add(a, b):
    return a + b

a = 3
b = 5
c = add(a, b)
c

### Map, Filter, and Comprehensions

In [ ]:
# Mapping functions to collections
def mapFunction(a):
    return a + 10

list(map(mapFunction, [1, 2, 3, 4, 5]))

In [ ]:
# Filtering a collection
def filterFunction(a):
    return a % 2 == 0

list(filter(filterFunction, [1, 2, 3, 4, 5]))

In [ ]:
# Comprehensions (with lists)
toBeSquared = [0, 1, 2, 3, 4]
a = [x**2 for x in toBeSquared]
a

In [ ]:
# Comprehensions simplified (with lists)
a = [x**2 for x in range(5)]
a

## Useful Built-ins

### range()

```javascript
for (let i = 1; i <= 5; i++) {
    console.log(i); // Prints 1, 2, 3, 4, and 5
}
```

In [ ]:
for x in range(1, 6):
    print(x) # Prints 1, 2, 3, 4, and 5

### enumerate()

In [ ]:
for index, x in enumerate(range(1, 6)):
    print(f'Index: {index}; Value: {x}')

### len()

In [ ]:
a = "Hello World!"
len(a)

In [ ]:
a = [1, 2, 3, 4, 5]
len(a)

## Modules and Packages

In [ ]:
# Module and package import
import base64

base64.MAXLINESIZE

In [20]:
# Imports with alias
import pandas as pd
import numpy as np

np.sin(0.5)

0.479425538604203

In [ ]:
# Partial imports from a module or package
from cadCAD.configuration.utils import config_sim
from cadCAD.configuration import Experiment
from cadCAD.engine import ExecutionMode, ExecutionContext, Executor

In [22]:
# Import all from random package
from random import *
randint(1, 10)

9

## Standard Libraries

In [ ]:
# Commonly used modules available from the Python standard library
import array
import enum
import gzip
import io
import logging
import math
import os
import time

- The `array` package provides array types and methods for working with them
- The `enum` package provides enumerable types and methods for working with them
- The `gzip` package provides types and methods for working with compressed files in the gzip format
- The `io` package provides types and methods for handling input/output stream processing
- The `logging` package provides types and methods for introducing logging into your application
- The `math` package provides types and methods for common mathematical operations that are not already built into Python
- The `os` package provides types and methods for interacting with the underlying operating system
- The `time` package provides types and methods for working with dates and times

## Third Party Packages

In [ ]:
# Commonly used (with cadCAD) third party packages (installed via pip)
import matplotlib
import networkx
import numpy
import pandas
import plotly
import seaborn

### Pandas

In [ ]:
# Import pandas
import pandas as pd

# Creating a dataframe from a dictionary
a = {'name': ['Alice', 'Bob'], 'age': [25, 52]}
df = pd.DataFrame(data=a)
df

In [ ]:
# Creating a dataframe from a csv file
df = pd.read_csv('ages.csv')
df

In [23]:
# Import pandas
import pandas as pd

# Querying a dataframe
a = {'name': ['Alice', 'Bob'], 'age': [25, 52]}
df = pd.DataFrame(data=a)
df.query('age > 30')

  name  age
1  Bob   52

In [24]:
# Import pandas
import pandas as pd

# Grouping data in a dataframe
a = {'name': ['Alice', 'Bob', 'Alice', 'Bob', 'Alice', 'Bob'], 'score': [98, 78, 72, 75, 88, 90]}
df = pd.DataFrame(data=a)
df.groupby(['name']).mean()

       score
name
Alice   86.0
Bob     81.0

In [28]:
# Import pandas
import pandas as pd

# Apply a function to every item in a column or row (axis)
a = {'name': ['Alice', 'Bob'], 'points': [10, 8]}
df = pd.DataFrame(data=a)
df['name'] = df['name'].apply(lambda x: x+' cool')
df

         name  points
0  Alice cool      10
1    Bob cool       8

In [19]:
# Import pandas
import pandas as pd

# Map a function to every element in a dataframe
a = [[1, 2], [3, 4], [5, 6]]
df = pd.DataFrame(data=a)
df.applymap(lambda x: x + 5)

    0   1
0   6   7
1   8   9
2  10  11

## Additional Resources

https://docs.python.org/3/library/

## Well done!